# Entorno virtual
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# VSCode
.vscode/

# PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Base de datos sqlite (si usás)
*.sqlite3

# Archivos temporales
*.tmp