<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}La taberna del dragon{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True) }}">
</head>
<body>

<nav>
  <ul>
    <li><a href="{{ url_for('index') }}">Inicio</a></li>
        {% if session.get('usuario') %}
    <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
    {% else %}
    <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
    {% endif %}
    <li><a href="{{ url_for('registro') }}">Registro</a></li>
    <li><a href="{{ url_for('menu') }}">Menu</a></li>
    <li><a href="{{ url_for('reservaciones') }}">Reservaciones</a></li>
    <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
    <li><a href="{{ url_for('reseñas') }}">Reseñas</a></li>

    </ul>
  </nav>

    {% block content %}
    {% endblock %}


  <footer>
    <p>La taberna del dragon</p>
    <section id="contacto">
    <h2 class="titulo">Visítanos</h2>

    <div class="informacion_contacto"> 
      <p>Reino de Buenos Aires - Calle de los Dragones 145</p>
      <p>+54 11 1234-5678</p>
      <p>Música medieval en vivo cada viernes</p>

      <a href="{{ url_for('reservaciones') }}" class="boton" style="display: inline-block; width: auto; text-decoration: none;">
        Reservar Mesa
      </a>
    </div>
  </section>
  </footer>

</body>
</html>