{% extends "base.html" %}

{% block title %}Reservaciones - La Taberna del Dragón{% endblock %}

{% block content %}

<header class="reviews-header">
    <h1>Reserva tu mesa</h1>
    <p>Asegura tu lugar en la taberna medieval.</p>
</header>

{% if exito %}
<div class="exito-message">
    <p>{{ exito }}</p>
</div>
{% endif %}

<section class="reviews-header">
    <div class="search-card">
        <form method="POST" class="medieval-form" action="/reservaciones">

            <div class="form-group">
                <label for="fecha_reserva">Fecha</label>
                <input
                    type="date"
                    id="fecha_reserva"
                    name="fecha_reserva"
                    required>
            </div>
            
            <div class="form-group">
                <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
                <option value="20-22">20:00 - 22:00</option>
                <option value="22-00">22:00 - 00:00</option>
            </select>
            </div>
            <div class="form-group">
                <label for="cant_personas">Cantidad de personas:</label>
                <input type="number"
                    id="cant_personas"
                    name="cant_personas"
                    min="1"
                    required>
            </div>


            {% if error %}
            <div class="error-message">
                <p>{{ error }}</p>
            </div>
            {% endif %}

            <button type="submit">
                Reservar mesa
            </button>
        </form>
    </div> 
</section>

<section>
<h2 class="titulo">
Reservas Activas
</h2>
<div id="contenedor-reservas">

{% for reserva in reservas %}

<div class="parchment-card" style="margin-bottom:25px;">
    <h3>
         {{ reserva.nombre }}
    </h3>
    <p>
         Fecha:
        {{ reserva.fecha_reserva }}
    </p>
    <p>
         Turno:
        {{ reserva.turno }}
    </p>
    <p>
         Cantidad de personas:
        {{ reserva.cant_personas }}
    </p>
    <a href="{{ url_for('cancelar_reserva_front', id=reserva.id_reserva) }}">
       <button class="boton-cancelar">
        Cancelar reserva
        </button>   
    </a>
</div>

{% endfor %}

</div>
</section>

{% endblock %}